body {
    background-color: #fff1f1;
    margin: 0;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#titulo-home {
    color: #ff0089;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 55px;
    margin-bottom: 66px;
}

#botao-home {
    font-size: 20px;
    margin-inline: 70px;
    background-color: #ff0089;
    color: white;
    padding: 15px 150px;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    transform: scale(0.98);
    cursor: pointer;
    /* 👈 única adição: mãozinha ao passar o mouse */
}

#textoEstilo {
    margin-top: -55px;
    margin-bottom: 55px;
}

#imagemCabide {
    margin-bottom: 10px;
}

#subtitulo {
    margin-bottom: 20px;
}