<!DOCTYPE html>
<!-- fala pro navegador que usa HTML5 -->
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- configurações do site -->
    <meta charset="UTF-8">
    <!-- permite caracteres especiais -->
    <title>Outfit Forecast</title>
    <!-- nome da aba -->
    <meta
            name="description"
            content="Seu guarda-roupa online inteligente:
        combina clima, ocasião e cores pra montar looks perfeitos e simplificar sua rotina."
    >
    <!-- descrição do site -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- conecta HTML com CSS -->
</head>
<body>
<!-- parte visual -->
<img
        id="imagemCabide"
        src="/img/site-imagem-cabide.jpeg"
        width="300"
>
<!-- imagem principal -->
<h1 id="titulo-home">
    SEU LOOK
</h1>
<!-- título principal -->
<p id="textoEstilo">
    Seu estilo perfeito, todo dia.
</p>
<!-- texto -->

<main></main>
<!-- conteúdo principal -->

<footer>
    <!-- rodapé -->

    <!-- se o usuário JÁ está logado: mostra botão de começar direto -->
    <div th:if="${nomeUsuario}">
        <p id="boasVindas">Olá, <strong th:text="${nomeUsuario}">Usuário</strong>! 👋</p>
        <a href="/temperatura">
            <button id="botao-home">começar</button>
        </a>
        <a href="/logout" id="subtitulo-sair">Sair da conta</a>
    </div>

    <!-- se o usuário NÃO está logado: mostra botão do Google -->
    <div th:unless="${nomeUsuario}">
        <!-- botão que inicia o login com o Google -->
        <a href="/oauth2/authorization/google">
            <button id="botao-google">
                <img src="https://www.google.com/favicon.ico" width="20" alt="Google">
                Entrar com o Google
            </button>
        </a>
        <p id="subtitulo-conta">Já tenho uma conta</p>
    </div>

</footer>

<script src="/js/main.js"></script>
<!-- conecta HTML com JS -->

</body>
</html>