<!DOCTYPE html>
<html>
<head>
<body><!--dentro do body é o visual do site, oq vc vê-->
<img id="imagemCabide" src="/img/site-imagem-cabide.jpeg"width="300">
<!--usada para organizar o topo do site-->
    <meta charset="UTF-8"><!--caracteres pra ficar bonito-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Outfit Forecast</title> <!--dentro do head o só o navegador lê-->
    <meta name="description" content="Seu guarda-roupa online inteligente:
    combina clima, ocasião e cores pra montar looks perfeitos e simplificar sua rotina.">
</head>
                <h1 id="titulo-home">SEU LOOK</h1><!--indentificar um o id pra n
                mudar a cor nas outras telas-->
        <p id="textoEstilo">Seu estilo perfeito, todo dia.</p>

        <main></main>
    <footer>
        <!--botão-->

        <button id="botão-home">começar</button> <!--criar função em js-->
        <p id="subtitulo">Já tenho uma conta</p>
    </footer><!--rodapé-->
    </body>
</html>