<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Barra de progresso</title>
</head>

<body>

<!-- barra -->
<div class="progress-bar">
    <div class="step active"></div>
    <div class="line"></div>

    <div class="step"></div>
    <div class="line"></div>

    <div class="step"></div>
</div>

<h1 id="temperaturaTexto">Qual a temperatura de hoje?</h1>
<p id="melhorLook">Isso nos ajuda a sugerir um melhor look pra você.</p>

<button id="botaoTemperatura">Próximo</button>

</body>
</html>